<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/environment.css">
</head>
<body>
    <aside>
        <menu>
            <li><button onclick="send_canvas_positions()">Send</button></li>
            <li><button>Hello</button></li>
        </menu>
    </aside>
    <main id="camera_container">
        <canvas id="camera_canvas" ></canvas>
    </main>
    <aside>
        <p>Placeholder</p>
    </aside>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="/static/environment.js"></script>
</body>
</html>